body {
    font-family: Arial, sans-serif;
    background-color: #aca5fa;
    padding: 100px;
  }
  
  h2 {
    color: #090909;
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #e8e8e8;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: #4548fa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #15005f;
  }